DYNATRACE_KEY=your_dynatrace_api_key
DYNATRACE_HOST=your_tenant.live.dynatrace.com
QLIK_KEY=your_qlik_api_key
QLIK_HOST=your_tenant.eu.qlikcloud.com
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_BUCKET_NAME=your_aws_bucket_name
MINUTES_TO_GET=30